<!DOCTYPE html>
<html lang="ko">

<head>
    <th:block th:insert="~{includes/adminHeader}"></th:block>
    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/adminStyle}"></th:block>
    <th:block th:insert="~{includes/adminScripts}"></th:block>
</head>

<body>
<th:block th:insert="~{includes/adminHeader}"></th:block>


    <section id="admin_banner">
        <div class="inner">
            <div class="title">
                <h2>배너관리</h2>
                <button>
                    <a href="banner/write">배너등록</a>
                </button>
            </div>

            <div class="box01">
                <ul>
                    <li>
                        전체배너 <span>5</span>건
                    </li>
                    <li>
                        게시중 <span>3</span>건
                    </li>
                    <li>
                        만료 <span>1</span>건
                    </li>
                    <li>
                        중지 <span>1</span>건
                    </li>
                </ul>
            </div>

            <div class="box02">
                <div class="status">
                    <span>게시상태</span>
                    <div class="buttons">
                        <button value="전체" class="banner__status">전체</button>
                        <button value="게시중" class="banner__status">게시중</button>
                        <button value="만료" class="banner__status">만료</button>
                        <button value="중지" class="banner__status">중지</button>
                    </div>
                </div>

                <div class="search">
                    <span>검색</span>
                    <input type="text" class="banner__search__field" placeholder="배너 제목 검색">
                    <div class="buttons">
                        <button class="banner__search__btn">검색</button>
                    </div>
                </div>
            </div>

            <div class="box03">
                <div class="left">
                    <span class="margin">검색결과 <span class="bold" id="search__banner__count" th:text="${bannerCountMap.TOTAL_BANNER_COUNT}">5</span>건</span>
                    <button class="selected__banner__stop">선택 게시중지</button>
                </div>

                <div class="right">
                    <select name="howmany">
                        <option value="5">5개씩 보기</option>
                        <option value="10">10개씩 보기</option>
                        <option value="30">30개씩 보기</option>
                        <option value="50">50개씩 보기</option>
                        <option value="100">100개씩 보기</option>
                    </select>

                    <button id="excelDownloadBtn">
                        <span class="material-symbols-outlined">description</span>
                        <span>엑셀 다운로드</span>
                    </button>
                </div>
            </div>

            <div class="box04">
                <table class="product-table" id="banner_table">
                    <caption class="hidden">배너관리</caption>
                    <thead>
                        <tr>
                            <th scope="col">
                                <input type="checkbox" id="allCheck">
                            </th>
                            <th scope="col">번호</th>
                            <th scope="col">상태</th>
                            <th scope="col">게시일</th>
                            <th scope="col">게시일수</th>
                            <th scope="col">배너제목</th>
                            <th scope="col">이미지 노출시간</th>
                            <th scope="col">배너이미지</th>
                            <th scope="col">배너수정</th>
                            <th scope="col">게시중지</th>
                        </tr>
                    </thead>
                    <tbody id="bannerAxiosBody">
                        <tr th:each="bannerList : ${pageInfo.list}">
                            <td>
                                <input type="checkbox" name="chkStatus" id="banner_id" th:value="${bannerList.BANNER_ID}">
                            </td>
                            <td th:text="${bannerList.BANNER_ID}">05</td>
                            <td th:text="${bannerList.BANNER_STATUS}">게시중</td>
                            <td th:text="${bannerList.BANNER_START_DATE} + ' ~ ' + ${bannerList.BANNER_END_DATE}">2023. 03. 01 ~ 2023. 03. 05</td>
                            <td th:text="${bannerList.BANNER_HOWLONG}">5</td>
                            <td th:text="${bannerList.BANNER_TITLE}">여름아 부탁해 배너</td>
                            <td th:text="${bannerList.BANNER_SHOWTIME}+'초'">3초</td>
                            <td>
                                <button class="show__banner__img">보기</button>
                            </td>
                            <td>
                                <button class="go__edit__page">수정</button>
                            </td>
                            <td>
                                <button th:if="${bannerList.BANNER_STATUS}=='게시중'" class="banner__stop">중지</button>
                                <span th:if="${bannerList.BANNER_STATUS}=='중지'" th:text="${bannerList.BANNER_UPDATED_AT}"></span>
                                <span th:if="${bannerList.BANNER_STATUS}=='만료'">-</span>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="pagination">

                <th:block th:if="${pageInfo.hasPreviousPage}">
                    <a th:href="'#'" id="admin__banner__prevBtn" th:value="${pageInfo.prePage}">
                        <span class="material-symbols-outlined">chevron_left</span>
                    </a>
                </th:block>


                <p class="numbers">
                    <span th:each="pageNumber : ${pageInfo.navigatepageNums}" th:if="${pageNumber <= pageInfo.total}">
                      <a th:text="${pageNumber}" th:href="'#'" id="admin__banner__numberBtn" th:attr="value=${pageNumber}" th:classappend="${pageNumber == pageInfo.pageNum ? 'bold large-text' : ''}"
                         style="font-size: 16px; font-weight: bold;"></a>
                    </span>
                </p>

                <th:block th:if="${pageInfo.hasNextPage}">
                    <a th:href="'#'" id="admin__banner__nextBtn" th:value="${pageInfo.nextPage}">
                        <span class="material-symbols-outlined">chevron_right</span>
                    </a>
                </th:block>
            </div>

            <!-- 어드민 배너관리 배너이미지보기 모달창 -->
            <div class="admin__banner" style="display: none;">
                <div class="admin__banner__inner">

                    <div class="top">
                        <span class="modal__banner__title">[여름아부탁해] 이미지</span>
                    </div>

                    <div class="middle">
                        <img class="modal__banner__img" style="width: 100%; height: 80%; " src="./img/배너이미지.png" alt="배너이미지">
                    </div>


                    <div class="bottom">
                        <button class="img__modal__close__btn">닫기</button>
                    </div>
                </div>

            </div>
        </div>
    </section>


</body>

</html>