<!DOCTYPE html>
<html lang="ko">

<head>
    <th:block th:insert="~{includes/adminHeader}"></th:block>
    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/adminStyle}"></th:block>
    <th:block th:insert="~{includes/adminScripts}"></th:block>
</head>

<body>
    <th:block th:insert="~{includes/adminHeader}"></th:block>

    <section id="dashboard">
        <div class="inner">
            <div class="txt__box">
                <h3>회원통계</h3>

                <div class="input__box">
                    <button>지난주</button>
                    <button>이번주</button>

                    <input type="date" value="2023-10-01">
                    <span>~</span>
                    <input type="date" value="2023-10-07">

                    <button>검색</button>
                </div>
            </div>

            <div class="chart-wrap">

                <div class="chart-inner">
                    <canvas id="myChart"></canvas>
                </div>

                <div class="chart__txt">
                    <div>
                        전체회원
                        <p>567</p>
                    </div>

                    <div>
                        일 방문자
                        <p>867</p>
                    </div>

                    <div>
                        일 회원가입자
                        <p>112</p>
                    </div>
                </div>
            </div>


            <div class="chart-wrap">

                <div class="chart-inner">
                    <canvas id="myChart2"></canvas>
                </div>

                <div class="chart__txt">
                    <div>
                        전체상품
                        <p>567</p>
                    </div>

                    <div>
                        품절상품
                        <p>867</p>
                    </div>

                    <div>
                        상품등록
                        <p>112</p>
                    </div>

                    <div>
                        상품판매
                        <p>112</p>
                    </div>
                </div>
            </div>

        </div>
    </section>


</body>

</html>