<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">

<head>
    <th:block th:insert="~{includes/adminHeader}"></th:block>
    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/adminStyle}"></th:block>
    <th:block th:insert="~{includes/adminScripts}"></th:block>

</head>

<body>
    <th:block th:insert="~{includes/adminHeader}"></th:block>


    <section id="admin_product02">
        <div class="inner">
            <div class="title">
                <h2>상품등록</h2>
            </div>


            <div class="admin_product02__wrap">
                <label for="productName" class="productName">
                    <p> <span>*</span> 상품명</p>
                    <input type="textbox" name="productName" placeholder="상품명을 입력해주세요." id="productName">
                </label>

                <label for="productSort">
                    <p> <span>*</span> 분류</p>
                    <select name="productSort" id="productSort">
                        <p>분류</p>
                        <option value="봄과일">봄과일</option>
                        <option value="여름과일">여름과일</option>
                        <option value="가을과일">가을과일</option>
                        <option value="겨울과일">겨울과일</option>
                    </select>
                </label>

                <label for="productPrice">
                    <p> <span>*</span> 상품금액</p>
                    <input type="textbox" name="productPrice" placeholder="0" id="productPrice">
                    원
                </label>

                <label for="productDiscount">
                    <p> 상품할인율 </p>
                    <input type="textbox" name="productDiscount" placeholder="0" id="productDiscount">
                    %
                </label>

                <label for="totalPrice" class="totalPrice">
                    <p> 할인적용 후 금액 </p>
                    <input type="textbox" name="totalPrice" placeholder="0" id="totalPrice">
                    원
                </label>

                <label for="productInventory">
                    <p> <span>*</span> 재고수량 </p>
                    <input type="textbox" name="productInventory" placeholder="0" id="productInventory">
                    개
                </label>

                <label for="productPicture" class="productPicture">
                    <p> <span>*</span> 상품이미지 </p>
                    <div>+ 추가</div>
                    <input type="file" name="productPicture" id="productPicture" accept="image/*">
                    <img id="imagePreview" src="#" alt="미리보기 이미지">
                </label>

                <input type="file" id="dataBoardEditorImg" style="display: none;">
                <label for="productDescription" class="description">
                    <p> <span>*</span> 상품 상세정보 </p>
                    <input name="productDescription" id="productDescription">
                </label>

            </div>

            <div class="buttons">
                <button id="productCancelBtn">취소하기</button>
                <button id="productSubmitBtn">등록하기</button>
            </div>
        </div>
        <!--모달창-->
        <div class="txt04" style="display: none;">
            <div class="inner">
                <h4>알림</h4>
                <h5 id="errorMsg">영역</h5>
                <button class="confirmButton" onclick='closeModal()';>확인</button> <!-- 추가된 확인 버튼 -->
            </div>
        </div>

        <div class="txt05" style="display: none;">
            <div class="inner">
                <h4>알림</h4>
                <h5 id="errorMsg1">영역</h5>
                <div class="button-container">
                <button class="confirmButton1" >확인</button> <!-- 추가된 확인 버튼 -->
                <button class="cancelBtn" onclick='closeModal()';>취소</button> <!-- 추가된 확인 버튼 -->
                </div>
            </div>
        </div>

        <div class="txt06" style="display: none;">
            <div class="inner">
                <h4>알림</h4>
                <h5 id="errorMsg2">영역</h5>
                <div class="button-container">
                    <button class="confirmButton2" onclick="location.href='/admin/product'">확인</button> <!-- 추가된 확인 버튼 -->
                </div>
            </div>
        </div>



    </section>

    <script src="/admin/js/tinymce.js" type="text/javascript"></script>
</body>

</html>