<!DOCTYPE html>
<html lang="ko">

<head>
    <th:block th:insert="~{includes/adminHeader}"></th:block>
    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/adminStyle}"></th:block>
    <th:block th:insert="~{includes/adminScripts}"></th:block>

</head>

<body>
    <th:block th:insert="~{includes/adminHeader}"></th:block>

    <section id="admin">
        <div class="inner">
            <div class="login">
                <div class="login__title">
                    <h1>프룻프룻 관리자센터 <br> 로그인</h1>
                </div>

                <form method="post" action="/admin/adminLogin_ok">
                <div class="login__input">
                    <label for="id">
                        <p>이메일주소(ID)</p>
                        <input type="textbox" name="id" placeholder="아이디 입력" id="id">
                    </label>

                    <div class="input__pw">
                        <label for="pw">
                            <p>비밀번호</p>
                            <input type="password" name="pw" placeholder="비밀번호 입력" id="pw">
                            <p th:if="${errorMessage}" th:utext="${errorMessage}" style="color: red"></p>
                        </label>
                    </div>

                </div>


                <div class="login__button">
                    <div class="login__button__inner">
                        <button>로그인</button>
                    </div>
                </div>
                </form>

<!--                <div class="login__txt">-->
<!--                    <div class="search__pw">-->
<!--                        <a href="./findPw.html">비밀번호 찾기</a>-->
<!--                    </div>-->

<!--                    &lt;!&ndash; 로그인 유지 토글 &ndash;&gt;-->
<!--                    <div class="stay__login">-->
<!--                        <label>-->
<!--                            <input role="switch" type="checkbox" />-->
<!--                            <span>로그인 유지</span>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </section>
    <!-- 알림 메시지를 JavaScript로 표시 -->
    <script th:if="${adminErrorMessage}" th:inline="javascript">
        /*<![CDATA[*/
        const errorMessage = [[${adminErrorMessage}]];
        alert(errorMessage);
        /*]]>*/
    </script>

</body>

</html>