<!DOCTYPE html>
<html lang="ko">

<head>
    <th:block th:insert="~{includes/adminHeader}"></th:block>
    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/adminStyle}"></th:block>
    <th:block th:insert="~{includes/adminScripts}"></th:block>

</head>

<body>
<th:block th:insert="~{includes/adminHeader}"></th:block>

    <section id="admin_product">
        <div class="inner">
            <div class="title">
                <h2>상품관리</h2>
                <button>
                    <a href="product02">상품등록</a>
                </button>
            </div>

            <div class="box01">
                <ul>
                    <li>
                        전체상품 <span th:text="${pageInfo.total}"></span>건
                    </li>
                    <li>
                        판매중 <span th:text="${saleCount}"></span>건
                    </li>
                    <li>
                        판매중지 <span th:text="${nonSaleCount}"></span>건
                    </li>
                    <li>
                        품절 <span th:text="${soldOutCount}"></span>건
                    </li>
                </ul>
            </div>

            <div class="box02">
                <div class="status">
                    <span>게시상태</span>
                    <div class="buttons">
                        <button class="productSaleStatus" value="All"  >전체</button>
                        <button class="productSaleStatus" value="판매중">판매중</button>
                        <button class="productSaleStatus" value="판매중지">판매중지</button>
                        <button class="productSaleStatus" value="품절">품절</button>
                    </div>
                </div>
                <div class="sort">
                    <span>분류</span>
                    <div class="buttons">
                        <button class="productSort" value="All">전체</button>
                        <button class="productSort" value="봄과일">봄과일</button>
                        <button class="productSort" value="여름과일">여름과일</button>
                        <button class="productSort" value="가을과일">가을과일</button>
                        <button class="productSort" value="겨울과일">겨울과일</button>
                    </div>
                </div>
                <div class="search">
                    <span>검색</span>
                    <input type="text" placeholder="상품명 검색" id="searchField">
                    <div class="buttons">
                         <button id="searchBtn" style=" background: #333; color : white; border-radius: 20px; padding: 5px 30px; border: 1px solid #333; cursor: pointer;">검색</button>
                    </div>
                </div>
            </div>

            <div class="box03">
                <div class="left">
                    <span class="margin">검색결과 <span class="bold" th:text="${pageInfo.total}"></span>건</span>
                    <button id="selectedSaleStopBtn">선택 판매중지</button>
                    <button id="selectedDeleteProductBtn">선택삭제</button>
                </div>

                <div class="right">
                    <select name="howmany">
                        <option value="5">5개씩 보기</option>
                        <option value="10">10개씩 보기</option>
                        <option value="30">30개씩 보기</option>
                        <option value="50">50개씩 보기</option>
                        <option value="50">100개씩 보기</option>
                    </select>

                    <button id="excelDownloadBtn">
                        <span class="material-symbols-outlined">description</span>
                        <span >엑셀 다운로드</span>
                    </button>
                </div>
            </div>

            <div class="box04">
                <table class="product-table">
                    <caption class="hidden">상품관리</caption>
                    <thead>
                        <tr>
                            <th scope="col">
                                <input type="checkbox" id="allCheck">
                            </th>
                            <th scope="col">번호</th>
                            <th scope="col">상태</th>
                            <th scope="col">분류</th>
                            <th scope="col">상품명</th>
                            <th scope="col">상품금액</th>
                            <th scope="col">할인율</th>
                            <th scope="col">찜 수</th>
                            <th scope="col">결제횟수</th>
                            <th scope="col">리뷰수</th>
                            <th scope="col">등록일</th>
                            <th scope="col">상품수정</th>
                            <th scope="col">판매중지</th>
                        </tr>
                    </thead>
                    <tbody id="axiosBody">
                        <tr th:each="p : ${pageInfo.list}">
                            <td>
                                <input type="checkbox" name="chkStatus" th:value="${p.PRODUCT_ID}">
                            </td>
                            <td th:text="${p.PRODUCT_ID}"></td>
                            <td th:text="${p.PRODUCT_SALE_STATUS}" class="product_Status"></td>
                            <td th:text="${p.CATEGORY_NAME}"></td>
                            <td th:text="${p.PRODUCT_NAME}"></td>
                            <td th:text="${p.PRODUCT_PRICE}"></td>
                            <td th:text="${p.PRODUCT_DISCOUNT}"></td>
                            <td >269</td>
                            <td>135</td>
                            <td>23</td>
                            <td th:text="${#dates.format(p.PRODUCT_CREATED_AT, 'yyyy-MM-dd')}"></td>
                            <td>

                                <button th:onclick="|location.href='/admin/editProduct?productId=${p.PRODUCT_ID}'|">수정</button>

                            </td>
                            <td>
                              <span th:if="${p.PRODUCT_UPDATED_AT}">
                              <span th:text="${#dates.format(p.PRODUCT_UPDATED_AT, 'yyyy-MM-dd')}"></span>
                              </span>
                              <button th:unless="${p.PRODUCT_UPDATED_AT}" id="stopSaleBtn">중지</button>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <div class="pagination">


                <th:block th:if="${pageInfo.hasPreviousPage}">
                    <a th:href="'#'" class="prevBtn" th:value="${pageInfo.prePage}">
                        <span class="material-symbols-outlined">chevron_left</span>
                    </a>
                </th:block>


                <p class="numbers">
                    <span th:each="pageNumber : ${pageInfo.navigatepageNums}" th:if="${pageNumber <= pageInfo.total}">
                      <a th:text="${pageNumber}" th:href="'#'" class="numberBtn" th:attr="value=${pageNumber}" th:classappend="${pageNumber == pageInfo.pageNum ? 'bold large-text' : ''}"
                        style="font-size: 16px; font-weight: bold;"></a>
                    </span>
                </p>

                <th:block th:if="${pageInfo.hasNextPage}">
                    <a th:href="'#'" class="nextBtn" th:value="${pageInfo.nextPage}">
                        <span class="material-symbols-outlined">chevron_right</span>
                    </a>
                </th:block>
            </div>
        </div>
    </section>



</body>

</html>