<!DOCTYPE html>
<html lang="ko">

<head>
    <th:block th:insert="~{includes/head}"></th:block>
    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>
</head>

<body>
    <th:block th:insert="~{includes/header}"></th:block>
    <div class="changePw_wrap">
        <div class="inner box-shadow">
            <div class="txt01">
                <p>비밀번호 변경</p>
            </div>

            <div class="txt02">
                <p>비밀번호는
                    <span>영문자 + 숫자 + 특수문자 포함 최소 8자리 이상 <br> 20자리 이내</span>로 설정해주세요.
                </p>
            </div>

            <div class="txt03">
                <label for="newpw">
                    <p>새비밀번호</p>
                    <input type="password" name="newpw" placeholder="비밀번호를 입력해주세요. (특수문자포함 8자리 이상)" id="newpw">
                    &nbsp;&nbsp;&nbsp;<span id="togglePassword1" ><i class="fa fa-eye-slash fa-lg"></i></span>
                </label>

                <label for="newpw2">
                    <p>새비밀번호 확인</p>
                    <input type="password" name="newpw2" placeholder="비밀번호를 한번 더 입력해주세요." id="newpw2">
                    &nbsp;&nbsp;&nbsp;<span id="togglePassword2" ><i class="fa fa-eye-slash fa-lg"></i></span>
                    <p style="padding-top: 5px; "id="changePwdCheckMsg"></p>
                    <p id="PwdErrorMessage" style="display: none; color: red;"></p>
                </label>


                <a>
                    <button id="changePwBtn">비밀번호 변경</button>
                </a>
            </div>

            <!-- 비밀번호가 정상적으로 변경되었습니다 모달창 -->
            <div class="txt04" style="display: none;">
                <div class="inner">
                    <h4>알림</h4>
                    <h5 id="errorMsg">영역</h5>
                    <button class="confirmButton" onclick="changedPw();">확인</button> <!-- 추가된 확인 버튼 -->
                </div>
            </div>
            <!-- 기존 비밀번호와 동일합니다 모달창 -->
            <div class="txt05" style="display: none;">
                <div class="inner">
                    <h4>알림</h4>
                    <h5 id="errorMsg1">영역</h5>
                    <button class="confirmButton" onclick="closeModal();">확인</button> <!-- 추가된 확인 버튼 -->
                </div>
            </div>

        </div>
    </div>

    <th:block th:insert="~{includes/footer}"></th:block>