<!DOCTYPE html>
<html lang="ko">

<head>
    <th:block th:insert="~{includes/head}"></th:block>
    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>

</head>

<body>
<th:block th:insert="~{includes/header}"></th:block>

    <section id="detail">
        <div class="inner detail__inner">

            <div class="box01">
                <div class="left">
                    <img th:src="${productDetail.IMAGE_URL}" class="detailImage" alt="상품 이미지">
                </div>

                <div class="right">
                    <input type="hidden" id="productId" th:value="${productDetail.PRODUCT_ID}">
                    <input type="hidden" class="detailDiscount" th:value="${productDetail.PRODUCT_DISCOUNT}">
                    <input type="hidden" class="detailInitPrice" th:value="${productDetail.PRODUCT_PRICE}">
                    <input type="hidden" class="detailDiscountPrice" th:value="${productDetail.PRODUCT_PRICE * productDetail.PRODUCT_DISCOUNT }/ 100">
                    <input type="hidden" class="detailDiscountedPrice" th:value="${productDetail.PRODUCT_PRICE - (productDetail.PRODUCT_PRICE * productDetail.PRODUCT_DISCOUNT / 100)}">
                    <input type="hidden" id="userIdNo" th:value="${userIdNo}">
                    <div class="right__txt01">
                        <h2 class="detailName" th:text="${productDetail.PRODUCT_NAME}"></h2>
                        <span id="detailLike" class="material-icons" th:classappend="${isLiked} ? 'red__heart' : 'material-symbols-outlined'">
                            favorite
                        </span>
                    </div>

                    <div class="right__txt02">
                        <div class="right__txt02__01">
                            <span th:text="${productDetail.PRODUCT_DISCOUNT}+원"></span>
                            <p>
                                <span th:text="${productDetail.PRODUCT_PRICE}+원"></span>
                                <span th:text="${productDetail.PRODUCT_PRICE - (productDetail.PRODUCT_PRICE * productDetail.PRODUCT_DISCOUNT / 100)}+원"></span>
                            </p>
                        </div>

                        <div class="right__txt02__02">
                            <p>배송비 3,000원
                                <span class="free">(50,000원이상 결제시 무료배송)</span>
                            </p>
                        </div>
                    </div>

                    <div class="right__txt03">
                        <!-- 장바구니 클릭 시 수량 증감버튼 -->
                        <div class="cart">
                            <div class="inner">
                                <button class="quantityMinusBtn">-</button>
                                <input type="text" id="quantityInput" value="1">
                                <button class="quantityPlusBtn">+</button>
                            </div>
                            <span th:text="남은수량 + ${productDetail.PRODUCT_INVENTORY}+개"></span>
                        </div>

                        <div class="right__txt03__01">
                            <span>총 상품 금액</span>
                            <span  th:text="${productDetail.PRODUCT_PRICE - (productDetail.PRODUCT_PRICE * productDetail.PRODUCT_DISCOUNT / 100)}+원"></span>
                        </div>

                        <div class="right__txt03__02">
                            <span>배송비</span>
                            <span th:if="${productDetail.PRODUCT_PRICE - (productDetail.PRODUCT_PRICE * productDetail.PRODUCT_DISCOUNT / 100) >= 50000}" th:text="무료"></span>
                            <span th:unless="${productDetail.PRODUCT_PRICE - (productDetail.PRODUCT_PRICE * productDetail.PRODUCT_DISCOUNT / 100) < 50000}" th:text="3000원"></span>
                        </div>

                    </div>

                    <div class="right__buttons">
                        <button class="detailCart">장바구니</button>
                        <button>바로구매</button>
                    </div>

                    <!-- 장바구니에 담겼습니다. 모달 창 -->
                    <div class="txt04 right__modal" style="display: none;">
                        <div class="inner">

                            <h4>알림</h4>

                            <h5>
                                <span>장바구니에 담겼습니다.</span>

                                <div class="buttons">
                                    <a href="./detail.html">
                                        <button>계속 쇼핑하기</button>
                                    </a>

                                    <a href="#">
                                        <button>장바구니로 이동</button>
                                    </a>
                                </div>

                            </h5>

                        </div>
                    </div>

                </div>
            </div>

            <div class="box02">
                <a href="./detail.html">
                    <div class="detailed__info">
                        <p>상세정보</p>
                    </div>
                </a>


                <a th:href="@{/user/productReview(productId=${productDetail.PRODUCT_ID})}">
                    <div class="review">
                        <p>상품리뷰</p>
                    </div>
                </a>
            </div>

            <div class="box03" th:utext="${productDetail.PRODUCT_DESCRIPTION}">

            </div>
        </div>

    </section>

<th:block th:insert="~{includes/footer}"></th:block>