<!DOCTYPE html>
<html lang="ko">

<head>
    <th:block th:insert="~{includes/head}"></th:block>
    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>
</head>

<body>
    <th:block th:insert="~{includes/header}"></th:block>

<!--    <form action="join_ok" onSubmit="return join_check() && submitForm()">-->
    <section id="join">
        <div class="inner">

            <!-- 회원가입 -->
            <div class="join__1st">
                <div class="join__title">
                    <h4>회원가입</h4>
                </div>


                <div class="inputboxs">

                    <label for="id">
                        <p>이메일주소(ID)</p>
                        <input type="textbox" name="id" placeholder="이메일 주소 입력" style="width: 370px;" id="id">
                        <span><button type="button" id="idChkBtn">중복확인</button></span>
                        <p style="padding-top: 5px; " id="idCheckMsg"></p>

                    </label>


                    <label for="name">
                        <p>닉네임</p>
                        <input type="textbox" name="name" placeholder="닉네임 입력 (2자 이상)" style="width: 370px;" id="name">
                        <span><button type="button" id="nameChkBtn">중복확인</button></span>
                        <p style="padding-top: 5px; "id="nameCheckMsg"></p>
                    </label>
                    <label for="pw">
                        <p>비밀번호</p>
                        <input type="password" name="pw" placeholder="영문, 숫자, 특수문자 (8자-20자 이내)" id="pw">
                    </label>
                    <label for="pw2">
                        <p>비밀번호 확인</p>
                        <input type="password" name="pw2" placeholder="비밀번호를 한번 더 입력해주세요." id="pw2" >
<!--                        class="wrong__pw__input"-->
                        <p id="PwdErrorMessage" style="display: none; color: red;"></p>
                    </label>
                    <label for="phone">
                        <p>연락처</p>
                        <input type="textbox" name="phone" placeholder="전화번호 입력 (01012345678)" id="phone" >
                        <p id="PhoneErrorMessage" style="display: none; color: red;"></p>
                    </label>

                </div>

            </div>

        </div>


        <!-- 약관동의 -->
        <div class="join__2nd">

            <div class="terms">
                <div>
                    <h5>약관동의</h5>
                </div>

                <!-- 약관동의 체크박스들 -->
                <div class="checkboxs">

                    <!-- 모든약관에 동의 체크하면 모두 체크되게.. -->
                    <label for="chk1" class="all__agreed">
                        <input type="checkbox" name="status" value="진행중" id="chk1">
                        <p class="agree">모든 약관에 동의합니다.</p>
                    </label>

                    <label for="chk2">
                        <input type="checkbox" name="status" value="진행중" id="chk2">
                        <p>[필수] 만 14세 이상입니다.</p>
                    </label>

                    <label for="chk3">
                        <input type="checkbox" name="status" value="진행중" id="chk3">
                        <p>[필수] 이용약관 <span>보기</span></p>
                    </label>

                    <label for="chk4">
                        <input type="checkbox" name="status" value="진행중" id="chk4">
                        <p>[필수] 개인정보수집·이용동의서 <span>보기</span></p>
                    </label>

                    <label for="chk5">
                        <input type="checkbox" name="status" value="마케팅" id="chk5">
                        <p>[선택] 마케팅 정보 수신동의 <span>보기</span></p>
                    </label>

                    <label for="chk6">
                        <input type="checkbox" name="status" value="개인정보" id="chk6">
                        <p>[선택] 개인정보수집·이용동의서 <span>보기</span></p>
                    </label>

                </div>
            </div>

        </div>


        <!-- 회원가입 버튼 -->
        <div class="button">
            <div class="inner">
                <a>
                    <button id="JoinBtn">회원가입</button>
                </a>
            </div>

        </div>


        <div class="txt04" style="display: none;">
            <div class="inner">
                <h4>알림</h4>
                <h5 id="errorMsg">영역</h5>
                <button id="confirmButton">확인</button> <!-- 추가된 확인 버튼 -->
            </div>
        </div>

    </section>
<!--    </form>-->

    <th:block th:insert="~{includes/footer}"></th:block>