<!DOCTYPE html>
<html lang="ko">


<head>
    <th:block th:insert="~{includes/head}"></th:block>
    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>

</head>

<body>
<th:block th:insert="~{includes/header}"></th:block>


    <div id="mypage_delivery">
        <div class="inner">

            <h2> 마이페이지 </h2>

            <div class="tab__menu">
                <a href="mypageMain">
                    <div class="history">
                        <p>구매내역</p>
                    </div>
                </a>


                <a href="mypageDelivery">
                    <div class="delivery">
                        <p>배송지관리</p>
                    </div>
                </a>


                <a href="mypageEdit">
                    <div class="memberInfo">
                        <p>회원정보</p>
                    </div>
                </a>

            </div>

            <div class="txt__box">
                <p>나의 배송지 목록 <br>
                    <span>* 배송지는 3개까지만 저장됩니다.</span>
                </p>

                <button class="addDeliveryAddress">+ 배송지추가</button>
            </div>
            <input type="hidden" id="addressCount" th:value="${addressCount}">

            <div class="delivery__wrap"  th:each="UDAList : ${userDeliveryAddressList}">
                <div class="buttons">
                    <input type="hidden" id="USER_DELIVERY_ID" th:value="${UDAList.USER_DELIVERY_ID}">
                    <input type="hidden" id="USER_DELIVERY_PLACE" th:value="${UDAList.DELIVER_PLACE}">
                    <input type="hidden" id="DELIVER_RECEIVER_NAME" th:value="${UDAList.DELIVER_RECEIVER_NAME}">
                    <input type="hidden" id="DELIVER_PHONE" th:value="${UDAList.DELIVER_PHONE}">
                    <input type="hidden" id="DELIVER_POSTCODE" th:value="${UDAList.DELIVER_POSTCODE}">
                    <input type="hidden" id="DELIVER_ADDRESS" th:value="${UDAList.DELIVER_ADDRESS}">
                    <button class="Delivery_Edit_Btn">수정</button>
                    <button class="Delivery_Delete_Btn">삭제</button>
                </div>

                <ul>
                    <li>
                        <span class="li__title">배송지명</span>
                        <span th:text="${UDAList.DELIVER_PLACE}">우리집</span>

                    </li>
                    <li>
                        <span class="li__title">수령인</span>
                        <span th:text="${UDAList.DELIVER_RECEIVER_NAME}">홍길동 팀장</span>
                    </li>
                    <li>
                        <span class="li__title">연락처</span>
                        <span id="formattedPhoneNumber" th:text="${UDAList.DELIVER_PHONE}"></span>
                    </li>
                    <li>
                        <span class="li__title">배송주소</span>
                        <span th:text="${UDAList.DELIVER_ADDRESS}">12345 서울시 강남구 강남로 123 강남빌딩</span>
                    </li>
                </ul>
            </div>
        </div>


        <!-- 배송지추가 모달 창 -->
        <div class="delivery__add" style="display: none;">
            <div class="delivery__add__inner">

                <div class="top">
                    <span>배송지추가</span>
                </div>

                <div class="bottom">
                    <label for="title">
                        <p>배송지명</p>
                        <input type="textbox" name="add_title" id="add_title">
                    </label>

                    <label for="name">
                        <p>이름</p>
                        <input type="textbox" name="add_name" id="add_name">
                    </label>

                    <label for="phone" class="phone">
                        <p>연락처</p>
                        <input type="textbox" name="add_phone1" id="add_phone1">
                        <input type="textbox" name="add_phone2" id="add_phone2">
                    </label>

                    <label for="add" class="add">
                        <p>주소</p>
                        <button onclick="sample6_execDaumPostcode()">우편번호</button>

                        <input type="text" id="sample6_postcode" class="postalCode" placeholder="우편번호">
                        <input type="text" id="sample6_address" class="postalCode2" placeholder="주소"><br>
                        <input type="text" id="sample6_detailAddress" class="postalCode2" placeholder="상세주소">
                        <input type="text" id="sample6_extraAddress" class="postalCode2" placeholder="참고항목">

                    </label>


                    <div class="delivery__add__buttons">
                        <button class="delivery__add__cancel">
                            작성취소
                        </button>

                        <button class="delivery__add__confirm" id="delivery__add__confirm_ok">
                            저장하기
                        </button>
                    </div>
                </div>

            </div>
        </div>



        <!-- 배송지저장이 완료되었습니다. 모달 창 -->
        <div class="delivery__add__confirm" style="display: none;">
            <div class="delivery__add__confirm__inner">

                <div class="top">
                    <span>알림</span>
                </div>

                <div class="bottom">
                    <span>배송지 저장이 완료되었습니다.</span>


                    <div class="delivery__add__confirm__buttons">
                        <button class="delivery__add__confirm__ok">확인</button>
                    </div>
                </div>

            </div>
        </div>


        <!-- 배송지저장 작성취소 모달 창 -->
        <div class="delivery__add__calcel" style="display: none;">
            <div class="delivery__add__calcel__inner">

                <div class="top">
                    <span>알림</span>
                </div>

                <div class="bottom">
                    <span>작성중인 내용이 모두 삭제됩니다. <br>
                        취소 하시겠습니까?</span>


                    <div class="delivery__add__calcel__buttons">
                        <button class="cancel_modal_ok">
                            취소하기
                        </button>

                        <button class="continueBtn">
                            계속작성
                        </button>
                    </div>
                </div>

            </div>
        </div>



        <!-- 배송지관리 삭제 모달 창 -->
        <div class="delivery__delete" style="display: none;">
            <div class="delivery__delete__inner">

                <div class="top">
                    <span>알림</span>
                </div>

                <div class="bottom">
                    <span>기존 배송지를 삭제하시겠습니까?</span>


                    <div class="delivery__delete__buttons">
                        <button id="deleteCancelBtn">
                            취소하기
                        </button>

                        <button id="deleteBtn">
                            삭제하기
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <!-- 배송지관리 수정 모달 창 -->
        <div class="delivery__edit" style="display: none;">
            <div class="delivery__edit__inner">

                <div class="top">
                    <span>배송지수정</span>
                </div>

                <div class="bottom">
                    <label for="title">
                        <p>배송지명</p>
                        <input type="textbox" name="add_title" id="edit_title">
                    </label>

                    <label for="name">
                        <p>이름</p>
                        <input type="textbox" name="add_name" id="edit_name">
                    </label>

                    <label for="phone" class="phone">
                        <p>연락처</p>
                        <input type="textbox" name="add_phone1" id="edit_phone1">
                        <input type="textbox" name="add_phone2" id="edit_phone2">
                    </label>

                    <label for="add" class="add">
                        <p>주소</p>
                        <button onclick="sample7_execDaumPostcode()">우편번호</button>

                        <input type="text" id="sample7_postcode" class="postalCode" placeholder="우편번호">
                        <input type="text" id="sample7_address" class="postalCode2" placeholder="주소"><br>
                        <input type="text" id="sample7_detailAddress" class="postalCode2" placeholder="상세주소">
                        <input type="text" id="sample7_extraAddress" class="postalCode2" placeholder="참고항목">

                    </label>

                    <div class="delivery__edit__buttons">
                        <button class="delivery__edit__cancel">
                            <a href="#">작성취소</a>
                        </button>

                        <button class="delivery__edit__confirm">
                            <a href="#">수정하기</a>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>