<!DOCTYPE html>
<html lang="ko">

<head>
    <th:block th:insert="~{includes/head}"></th:block>
    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>

</head>

<body>
<th:block th:insert="~{includes/header}"></th:block>

    <div id="mypage">
        <div class="inner">

            <h2> 마이페이지 </h2>

            <div class="tab__menu">
                <a href="mypageMain">
                    <div class="history">
                        <p>구매내역</p>
                    </div>
                </a>


                <a href="mypageDelivery">
                    <div class="delivery">
                        <p>배송지관리</p>
                    </div>
                </a>


                <a href="mypageEdit">
                    <div class="memberInfo">
                        <p>회원정보</p>
                    </div>
                </a>

            </div>

            <div class="search__box">
                <div class="first">
                    <span>기간검색</span>

                    <div class="search__box__buttons">
                        <button data-months="0">전체</button>
                        <button data-months="1">1개월</button>
                        <button data-months="3">3개월</button>
                        <button data-months="6">6개월</button>
                        <button data-months="12">1년</button>
                        <button data-months="36">3년</button>
                    </div>

                    <div class="date">
                        <label for="date1">
                            <input type="date" id="date1" value="2023-07-19">
                        </label>

                        <span>~</span>

                        <label for="date2">
                            <input type="date" id="date2" value="2023-07-19">
                        </label>
                    </div>
                </div>

                <div class="second">
                    <select name="mypageSearchType" id="mypageSearchType">
                        <option value="상품명">상품명</option>
                        <option value="주문번호">주문번호</option>
<!--                        <option value="상품번호">상품번호</option>-->
<!--                        <option value="기간">기간</option>-->
                    </select>

                    <label for="search">
                        <input type="text" id="mypageSearchField">
                    </label>

                    <button onclick="location.href='mypageMain'">초기화</button>

                    <button id="mypageSearchBtn">검색</button>
                </div>
            </div>


            <div class="history2">
                <h4>상품구매 내역</h4>

                <div class="history__line"></div>

                <div class="historyContents">
                    <ul id="li_Axios">
                        <li th:each="orderList : ${pageInfo.list}">
                            <input type="hidden" id="order_Id" th:value="${orderList.ORDER_ID}">
                            <input type="hidden" id="order_product_name" th:value="${orderList.PRODUCT_NAME}">
                            <input type="hidden" id="order_product_quantity" th:value="${orderList.PRODUCT_QUANTITY}">
                            <div class="txt">
                                <span th:text="${orderList.ORDER_ID}">12345678</span>
                                <span th:text="${#dates.format(orderList.ORDER_DATE, 'yyyy-MM-dd')}">2023. 07. 01</span>
                            </div>

                            <div class="img">
                                <img th:src="${orderList.IMAGE_URL}" alt="상품 이미지">
                                <div class="img__txt">
                                    <p th:text="${orderList.PRODUCT_NAME}">프리미엄 고당도 꿀수박 4kg</p>

                                    <div class="group">
                                        <span class="orange" th:text="${orderList.PRODUCT_PRICE} + '원'">50,000원</span>
                                        <span th:text="${orderList.PRODUCT_QUANTITY} + '개'">구매수량 1개</span>
                                    </div>

                                    <div class="group2">
                                        <p>배송지 확인
                                            <span class="material-symbols-outlined">double_arrow</span>
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="buttons">
                                <button class="rePurchase">재구매</button>
                                <button>리뷰작성</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="pagination">
                <th:block th:if="${pageInfo.hasPreviousPage}">
                    <a th:href="'#'" class="prevBtn" th:value="${pageInfo.prePage}">
                        <span class="material-symbols-outlined">chevron_left</span>
                    </a>
                </th:block>


                <p class="numbers">
                    <span th:each="pageNumber : ${pageInfo.navigatepageNums}" th:if="${pageNumber <= pageInfo.total}">
                      <a th:text="${pageNumber}" th:href="'#'" class="numberBtn" th:attr="value=${pageNumber}" th:classappend="${pageNumber == pageInfo.pageNum ? 'bold large-text' : ''}"
                         style="font-size: 16px; font-weight: bold;"></a>
                    </span>
                </p>

                <th:block th:if="${pageInfo.hasNextPage}">
                    <a th:href="'#'" class="nextBtn" th:value="${pageInfo.nextPage}">
                        <span class="material-symbols-outlined">chevron_right</span>
                    </a>
                </th:block>
            </div>





            <!-- 장바구니에 담겼습니다. 모달 창 -->
            <div class="txt04" style="display: none;">
                <div class="inner">

                    <h4>알림</h4>

                    <h5>장바구니에 담겼습니다.</h5>

                    <div class="buttons">
                        <button onclick="closeModal()">닫기</button>
                        <button class="goCart">장바구니로 이동</button>
                    </div>
                </div>
            </div>


            <!-- 리뷰작성 모달 창 -->
            <div class="txt05" style="display: none;">
                <div class="inner">

                    <h4>알림</h4>

                    <h5>상품에 대한 리뷰를 남겨주세요.</h5>

                    <div class="input">
                        <input type="text" placeholder="10자이상 500자 미만으로 작성해주세요.">
                        <span>15/500</span>
                    </div>

                    <div class="buttons">
                        <button>작성취소</button>
                        <button>리뷰등록</button>
                    </div>
                </div>
            </div>


            <!-- 리뷰작성 취소. 모달 창 -->
            <div class="txt06" style="display: none;">
                <div class="inner">

                    <h4>알림</h4>

                    <h5>작성중인 내용이 모두 삭제됩니다. <br>
                        취소 하시겠습니까?
                    </h5>

                    <div class="buttons">
                        <button>취소하기</button>
                        <button>계속작성</button>
                    </div>
                </div>
            </div>

            <!-- 리뷰작성 완료. 모달 창 -->
            <div class="txt07" style="display: none;">
                <div class="inner">

                    <h4>알림</h4>

                    <h5>리뷰 작성이 완료 되었습니다.</h5>

                    <div class="buttons">
                        <button>확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>