<!DOCTYPE html>
<html lang="ko">

<head>
    <th:block th:insert="~{includes/head}"></th:block>
    <th:block th:insert="~{includes/library}"></th:block>
    <th:block th:insert="~{includes/style}"></th:block>
    <th:block th:insert="~{includes/scripts}"></th:block>

</head>

<body>
<th:block th:insert="~{includes/header}"></th:block>


    <div id="mypageEdit02">
        <div class="inner">

            <h2> 마이페이지 </h2>

            <div class="tab__menu">
                <a href="mypageMain">
                    <div class="history">
                        <p>구매내역</p>
                    </div>
                </a>


                <a href="mypageDelivery">
                    <div class="delivery">
                        <p>배송지관리</p>
                    </div>
                </a>


                <a href="mypageEdit">
                    <div class="memberInfo">
                        <p>회원정보</p>
                    </div>
                </a>

            </div>


            <div class="txt_box">
                <p>회원정보 수정</p>
            </div>

            <label for="email" class="email">
                <p>이메일주소(ID)</p>
                <input type="textbox" name="email" id="email" style="background-color: lightgrey; color:black;" th:value="${userInfo.USER_EMAIL}" readonly>
            </label>

            <label for="name">
                <p>닉네임</p>
                <input type="textbox" name="editName" id="editName" style="margin-bottom: 10px;" th:value="${userInfo.USER_NAME}">
                <button id="userNameChkBtn">중복확인</button>
                <p id="nameCheckMsg"></p>
            </label>

            <label for="phone" class="phone" style="margin-top: 10px;">
                <p>연락처</p>
                <input type="textbox" name="editPhone" id="editPhone"  th:value="${userInfo.USER_PHONE}">
            </label>

            <div class="change__PW">
                <p>비밀번호 변경</p>
                <div class="button__box">
                    <button id="pwdChangeBtn">
                        비밀번호 변경하기
                    </button>
                </div>
            </div>


            <!-- 비밀번호 변경하기 버튼 클릭 시 -->
            <div class="change__PW__button"  style="display: none;">
                <div class="button1">
                    <p>비밀번호 변경</p>

                    <div class="button__box">
                        <button id="pwdChangeBtnCancel">비밀번호 변경취소</button>

                        <div class="input__box">
                            <div class="box01">
                                <p>비밀번호</p>

                                <div class="input_wrap">
                                    <input type="password"  id="newPwd" placeholder="영문, 숫자, 특수문자(8자-20자 이내)">
                                    <span id="togglePassword1" ><i class="fa fa-eye-slash fa-lg"></i></span>
<!--                                    <span class="material-symbols-outlined">visibility</span>-->
                                </div>

                            </div>

                            <div class="box02">
                                <p>비밀번호 확인</p>

                                <div class="input_wrap">
                                    <input type="password"  id="newPwd2" placeholder="비밀번호를 한번 더 입력해주세요.">
                                    &nbsp;&nbsp;&nbsp;<span id="togglePassword2" ><i class="fa fa-eye-slash fa-lg"></i></span>
                                    <p style="padding-top: 5px; "id="changePwdCheckMsg"></p>

                                </div>
                                <p id="PwdErrorMessage" style="display: none; color: red; margin-top: 5px;"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 비밀번호 변경하기 버튼 클릭 시, 비밀번호 일치하지 않을 때 -->
            <div class="change__PW__buttonWrong" style="display: none;">
                <div class="button1">
                    <p>비밀번호 변경</p>

                    <div class="button__box">
                        <button>비밀번호 변경취소</button>

                        <div class="input__box">
                            <div class="box01">
                                <p>비밀번호</p>

                                <div class="input_wrap">
                                    <input type="text" placeholder="영문, 숫자, 특수문자(8자-20자 이내)">
                                    <span class="material-symbols-outlined">visibility</span>
                                </div>

                            </div>

                            <div class="box02">
                                <p>비밀번호 확인</p>

                                <div class="input_wrap">
                                    <input type="text" placeholder="비밀번호를 한번 더 입력해주세요.">
                                    <span class="material-symbols-outlined">visibility</span>
                                </div>

                                <p>비밀번호가 일치하지 않습니다.</p>
                            </div>


                        </div>
                    </div>
                </div>
            </div>





            <div class="mypageEdit__button">
                <button id="editCancelBtn" style="font-weight: bold;">취소하기 </button>

                <button id="editConfirmBtn" style="color: white; font-weight: bold;"> 수정완료 </button>
            </div>
        </div>

        <!-- 변경중이던 사항 초기화 모달 창 -->
        <div class="mypageEdit__cancel" style="display: none;">
            <div class="mypageEdit__cancel__inner">

                <div class="top">
                    <span>알림</span>
                </div>

                <div class="bottom">
                    <span>변경중이던 사항이 초기화됩니다. <br>
                        취소 하시겠습니까?</span>


                    <div class="mypageEdit__cancel__buttons">
                        <button>
                            <a href="/">취소하기</a>
                        </button>
                        <button id="continueBtn">
                            계속작성
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <!-- 변경중이던 사항 완료 모달 창 -->
        <div class="mypageEdit__confirm" style="display: none;">
            <div class="mypageEdit__confirm__inner">

                <div class="top">
                    <span>알림</span>
                </div>

                <div class="bottom">
                    <span>회원정보 수정이 완료되었습니다. <br>
                        메인페이지로 이동합니다.</span>


                    <div class="mypageEdit__confirm__buttons">
                        <button>
                            <a href="#">확인</a>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="txt04" style="display: none;">
            <div class="inner">
                <h4>알림</h4>
                <h5 id="errorMsg">영역</h5>
                <button id="confirmButton">확인</button> <!-- 추가된 확인 버튼 -->
            </div>
        </div>
        <div class="txt05" style="display: none;">
            <div class="inner">
                <h4>알림</h4>
                <h5 id="errorMsg1">영역</h5>
                <button onclick="location.href='logout'">확인</button> <!-- 추가된 확인 버튼 -->
            </div>
        </div>
    </div>
</body>

</html>