<!-- HEADER -->
<header id="header">
  <div class="inner">

    <a href="/admin/index" class="logo">
      <img src="/admin/img/푸릇푸릇 로고.png" alt="logo" />
    </a>

    <ul class="main-menu">
      <li class="item">
        <div class="item__name">
          <a href="/admin/dashboard">
            <span class="material-symbols-outlined">dashboard</span>
            대쉬보드</a>
        </div>
      </li>

      <li class="item">
        <div class="item__name">
          <a href="/admin/banner">
            <span class="material-symbols-outlined">photo_library</span>
            배너관리</a>
        </div>
      </li>

      <li class="item">
        <div class="item__name">
          <a href="/admin/product">
            <span class="material-symbols-outlined">shopping_cart</span>
            상품관리</a>
        </div>
      </li>

      <li class="item">
        <div class="item__name">
          <a href="/admin/review">
            <span class="material-symbols-outlined">rate_review</span>
            리뷰관리</a>
        </div>
      </li>

      <li class="item">
        <div class="item__name">
          <a href="/admin/member">
            <span class="material-symbols-outlined">groups</span>
            회원관리</a>
        </div>
      </li>

<!--      <li class="item">-->
<!--        <div class="item__name">-->
<!--          <a href="/admin/notification">-->
<!--            <span class="material-symbols-outlined">notifications</span>-->
<!--            알림관리</a>-->
<!--        </div>-->
<!--      </li>-->
    </ul>

  </div>
</header>