<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>프룻프룻 쇼핑몰</title>

<!--Open Graph-->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="프룻프룻 Shopping Mall" />
<meta property="og:title" content="프룻프룻 Shopping Mall" />
<meta property="og:description" content="프룻프룻 Shopping Mall 입니다." />
<meta property="og:image" content="./img/openGraph.png" />
<meta property="og:url" content="https://prpr-shopping-mall.co.kr" />

<!--파비콘-->
<link rel="icon" href="./favicon.ico" />

<link rel="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

<!--눈모양-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">